.loading-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden; /* Oculta el popup por defecto */
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in-out;
}

.loading-popup.show {
    visibility: visible; /* Muestra el popup */
    opacity: 1;
}

.loading-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 90%;
    font-family:lato;
}

.loading-content .spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #ccc;
    border-top: 4px solid #114071;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 0 auto 10px auto;
}

.custom-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden; /* Oculta el popup por defecto */
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in-out;
}

.custom-popup.show {
    visibility: visible; /* Muestra el popup */
    opacity: 1;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 90%;
    font-family: lato;
}

.popup-content h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}

.popup-content p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #555;
}

.popup-close {
    background-color: #114071;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.popup-close:hover {
    background-color: var(--white);
    color: black;
    border: 1px solid black;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading-content p {
    font-size: 16px;
    color: #555;
}